header {
  overflow: hidden;
}

.navbar {
  background-color: #e6f3f5;
  position: fixed;
  top: 0px;
  z-index: 10;
  width: 100%;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center url('/img/drinks.jpg');
  /* Image by <a href="https://pixabay.com/users/bridgesward-6083077/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2578446">bridgesward</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=2578446">Pixabay</a> */
  background-size: cover;
  filter: blur(2px);
}

.search-bar .search-bar-outer {
  /* margin: 0 auto; */
  max-width: 680px;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 10px;
  border: 0;
  margin-top: 10px;
  /* margin-top: -60px; */
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-bar .search-bar-inner h4, .sorts {
  color: #9b4b4b;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img{
  height: 180px;
}

.card-title{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.restaurants-list:hover {
  filter: saturate(150%);
  opacity: 80%;
}

/* .originalBtn {
  margin: 0;
  padding: 0;
  border: 1px solid transparent; 
  outline: none;    
} */

@media screen and (max-width: 992px) {
  
  .card img{
    height: 115px;
  }
}

@media screen and (max-width: 768px) {
  
  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {
  
  .card img{
    height: auto;
  }
  
}
